block head
  title Minecraft Item Generator
  link(rel='stylesheet', href='#{baseUrl}/css/item.min.css?#{cacheBreaker}')
  block neck
block body
  .page-header.nodebb-minecraft
    h1 Item Generator
  section.item.nodebb-minecraft

  script(type='text/template', id='tmpl-_empty')

  script(type='text/template', id='tmpl-_item-row')
    section.description
    section.type
    section.material
    section.enchantments
    section.preview

  script(type='text/template', id='tmpl-_description-row')
    .row
      .col-lg-12
        label.h3 Description
    .row
      .col-lg-12
        form.form-vertical(role="form").col-lg-11
          .form-group
            label.col-sm-4.control-label(for="item-name") Item Name
            input.item-name.form-control(type="text", value!='<%-name%>')
      .col-lg-12
        form.form-vertical(role="form").col-lg-11
          .form-group
            label.col-sm-4.control-label(for="item-description") Lore
            textarea.item-lore.form-control(id="loreEditText")
              !='<%-lore%>'

  script(type='text/template', id='tmpl-_type-row')
    label.h3 Type
      .btn-grp

  script(type='text/template', id='tmpl-_material-row')
    label.h3 Material
      .btn-grp

  script(type='text/template', id='tmpl-_label-row-item')
    | <%-label%>

  script(type='text/template', id='tmpl-_enchantment-row')
    label.h3 Enchantments
    cell.enchantments

  script(type='text/template', id='tmpl-_dropdown-item')
    .container.dropdown-item
      label.h4 <%-text%>

  script(type='text/template', id='tmpl-_dropdown-divider')

  script(type='text/template', id='tmpl-_enchantment-dropdown-collection')
    li.dropdown-header(role="presentation") Enchantment

  script(type='text/template', id='tmpl-_enchantment-dropdown')
    button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown") Enchantment
      span.caret
    .menu

  script(type='text/template', id='tmpl-_enchantment-row-item')
    .row

  script(type='text/template', id='tmpl-_enchantment-add-row-item')
    .add-button.col-md-2.col-sm-5.col-xs-5
      form.form-vertical(role="form")
        buton.btn.btn-primary.add Add

  script(type='text/template', id='tmpl-_enchantment-create-row-item')
    .remove-button.col-md-2.col-sm-2.col-xs-2
      form.form-vertical(role="form")
        buton.btn.btn-danger.remove Remove
    .form-content.col-md-10.col-sm-10.col-xs-10
      .row
        .col-md-5.col-sm-5.col-xs-5
          form.form-horizontal(role="form")
            .form-group.dropdown
        label.col-md-5.col-sm-5.col-xs-5.control-label.enchantment-label
      .row.power

  script(type='text/template', id='tmpl-_enchantment-create-row-item-power')
    .col-md-5.col-sm-5.col-xs-5
      .btn-grp
        cell.btn.more.btn-default More
        cell.btn.less.btn-default Less
    label.col-md-5.col-sm-5.col-xs-5
      h3 Power <%=romanPower%>


  script(type='text/template', id='tmpl-_preview-row')
    .row
      label
        h4 Preview
    .row
      textarea.item-preview.form-control
        !='<%-data%>'

block feet
  script(type='text/javascript', src='#{baseUrl}/widget/widget-item.min.js?#{cacheBreaker}')
